---
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },

  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-white text-[#73bcf6]",
    icon: Tailwind,
  },
};

const PROYECTOS = [
  {
    title: "Aplicación de monitoreo de calidad del aire",
    description:
      "Plataforma la cual permite visualizar la calidad del aire en un espacio, cuenta con paneles de gestion de sensores, cuentas y roles; permite descargar los datos historicos almacenados en cualquier tipo de formato. Ademas cuenta con varias vistas, para el administrador e investigador y una landing page para los usuarios.",
    link: "#",
    github: "#",
    image: "/proyectos/Monitor.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
];
---

{
  PROYECTOS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
